{% extends 'quotes/base.html' %}

{% block content %}
<form method='post' action="{%url 'quotes:add_quote'%}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputQuote" class="form-label">Quote</label>
        <input type="text" class="form-control" id="exampleInputQuote" aria-describedby="emailHelp"
               placeholder="Enter a quote" name="quote">
        <div id="quoteHelp" class="form-text">e.g.: To be or not to be</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputQuote" class="form-label">Author</label>
        <select class="form-control" id="authorSelect" name="author">
            {% for author in authors %}
            <option value="{{ author.id }}">{{ author.fullname }}</option>
            {% endfor %}
        </select>
        <div id="quoteAuthorHelp" class="form-text">Choose an author</div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var dropdownItems = document.querySelectorAll('.dropdown-menu .dropdown-item');
        var dropdownButton = document.getElementById('dropdownMenuButton');

        dropdownItems.forEach(function (item) {
            item.addEventListener('click', function () {
                dropdownButton.textContent = this.textContent;
            });
        });
    });
</script>

{% endblock %}