{% extends 'quotes/base.html' %}

{% block content %}
{% load extract %}
{% for quote in quotes %}
<div class="card mb-3">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{quote.quote}}</p>
            <footer class="blockquote-footer">{{quote.author.fullname}} (<a href="/">About</a>)</footer>
        </blockquote>
    </div>
    <div class="card-header">
        Tags: {% for tag in quote.tags %}
        <a class="tag" href="/tag">{{tag}}</a>
        {% endfor %}
    </div>
</div>
{% endfor %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-between">
        <li class="{% if not quotes.has_previous %} page-item disabled {%else%} page-item {% endif %}">
            <a class="page-link"
               href="{% if quotes.has_previous %} {% url 'quotes:index_paginate' quotes.previous_page_number%} {%else%} # {% endif %}">←Previous</a>
        </li>
        <li class="ml-auto {% if not quotes.has_next %} page-item disabled {% endif %}">
            <a  class="page-link"
               href="{% if quotes.has_next %} {%url 'quotes:index_paginate' quotes.next_page_number%} {%else%} # {% endif %}">Next→</a>
        </li>
    </ul>
</nav>

{% endblock %}