{%extends 'quotes/base.html' %}
{% block content %}
<div class="col-md-8">
    <div class="card mb-3">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{quote.quote}}</p>
                <footer class="blockquote-footer">{{quote.author.fullname}} (<a
                        href="{% url 'quotes:author_detail' quote.author.id %}">About</a>)
                </footer>
            </blockquote>
        </div>
        <!--            TODO delete styles-->
        <div class="card-header" style="display: flex; justify-content: flex-start;">
            Tags: {% for tag in quote.tags.all %}
            <a class="tag" style="margin-left: 5px;" href="{%url 'quotes:tag_search' tag.name %}">{{tag.name}}</a>
            {% endfor %}
        </div>
        <form action="{% url 'quotes:add_comment' quote.id %}" method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input name="comment" type="text" class="form-control" placeholder="Leave a comment" aria-label="Leave a comment"
                       aria-describedby="button-addon2">
                <button type="submit" class="btn btn-outline-secondary" id="button-addon2">Comment</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}